<!DOCTYPE html>
<html>
<head>
  <title>the /awesome project</title>
  <%= favicon_link_tag '/images/favicon-happy.png', :rel => 'shortcut icon', :type => 'image/png' %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <style type="text/css">
    body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
  </style>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
